<?xml version="1.0"?>
<robot name="DJI_Tello">

  <link name="robot_base_link">
	  <visual>
	    <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://ars_robot_models/meshes/dji_tello.dae" scale="0.0085 0.0085 0.0085"/> -->
        <mesh filename="package://ars_robot_models/meshes/dji_tello.dae" scale="0.01 0.01 0.01"/>
      </geometry>
	  	<material name="blue">
	 			<color rgb="0 0 200" alpha="0.5"/>
	 		</material>
	  </visual>
  </link>

</robot>
